{% extends "layout.html" %}

{% block body%}

<main>
    <div class="back">
        <a href="/">Back</a>
    </div>

    <div class="scoreHeader">
        <h2>Scores</h2>
    </div>

    <table class="scoreTable">
        <thead>
            <tr>
                <th>s/n</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Chimere</td>
                <td>20/20</td>
            </tr>
        </tbody>
    </table>
</main>

{% endblock %}