{% extends "layout.html" %}

{% block body%}

<main class="scoreMain">
    <div class="scoreNav">
        <a href="/">
            <div class="navBtn">
                Back
            </div>
        </a>
    </div>
    <div class="scoreHeader">
        <h2>Scores</h2>
    </div>

    <table class="scoreTable">
        <thead>
            <tr>
                <th>s/n</th>
                <th>Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for scores in scoreSheet %}
            <tr>
                <td>{{scores.id}}</td>
                <td>
                    {{scores.name}}
                </td>
                <td>{{scores.score}}/20</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}